{% extends 'base.html' %}

{% block content %}

<!-- ========================= SECTION CONTENT ========================= -->

<section class="section-conten padding-y" style="min-height:84vh">

<!-- ============================ COMPONENT LOGIN   ================================= -->

    <div class="card mx-auto" style="max-width: 380px; margin-top:100px;">
        <div class="card-body">
            <h4 class="card-title mb-4">Reset Password</h4>
            {% include 'includes/alerts.html' %}
            <form action="{% url 'resetPassword' %}" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="New Password" name="Password">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Confirm New Password" name="confirm_password">
                </div>

                <div class="form-group">
                    <span class="float-right" >Got password?
                        <a href="{% url 'login' %}" style="color:rgb(24, 130, 217);" onmouseover="this.style.color='black'" onmouseout="this.style.color='rgb(24, 130, 217)'">login</a></span>
                </div>
                <div class="form-group" style="margin-top:50px">
                    <button type="submit" class="btn btn-dark btn-block">Reset</button>
                </div>
            </form>
        </div>
    </div>
<!-- ============================ COMPONENT LOGIN  END.// ================================= -->

</section>

<!-- ========================= SECTION CONTENT END// ========================= -->

{% endblock %}