{% extends 'base.html' %}

{% block content %}


<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__text">
                    <h4>Checkout</h4>
                    <div class="breadcrumb__links">
                        <a href="./index.html">Home</a>
                        <a href="./shop.html">Cart</a>
                        <span>Checkout</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->

<!-- Checkout Section Begin -->
<section class="checkout spad">
    <div class="container">
        <div class="checkout__form">
            <form action="" method="POST">
                {% csrf_token %}
                <div class="row">
                    <div class="col-lg-7 col-md-6">
                        <h6 class="checkout__title">Billing Details</h6>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="checkout__input">
                                    <p>Fist Name<span>*</span></p>
                                    <input type="text" name="first_name" required>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="checkout__input">
                                    <p>Last Name<span>*</span></p>
                                    <input type="text" name="last_name" required>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="checkout__input">
                                    <p>Mobile Number<span>*</span></p>
                                    <input type="text" name="mobile_number" required>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="checkout__input">
                                    <p>Email<span>*</span></p>
                                    <input type="text" name="email" required>
                                </div>
                            </div>
                        </div>
                        <div class="checkout__input">
                            <p>Address<span>*</span></p>
                            <input type="text" placeholder="Street Address" class="checkout__input__add" name="address_1" required>
                            <input type="text" placeholder="Apartment, suite, unite ect (optinal)" name="address_2">
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="checkout__input">
                                    <p>Street<span>*</span></p>
                                    <input type="text" name="district" required>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="checkout__input">
                                    <p>Town/City<span>*</span></p>
                                    <input type="text" name="city" required>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="checkout__input">
                                    <p>State<span>*</span></p>
                                    <input type="text" name="state" required>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="checkout__input">
                                    <p>District<span>*</span></p>
                                    <input type="text" name="district" required>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="checkout__input">
                                    <p>Country<span>*</span></p>
                                    <input type="text" name="country" required>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="checkout__input">
                                    <p>Postcode<span>*</span></p>
                                    <input type="number" name="postcode" required>
                                </div>
                            </div>
                        </div>

                            <div class="checkout__input">
                            <p>Order notes</p>
                            <input type="text"
                            placeholder="Notes about your order, e.g. special notes for delivery."
                            name="notes"
                            >
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-6">
                        <div class="checkout__order">
                            <h4 class="order__title">Your order</h4>
                            <div class="checkout__order__products">Product <span>Total</span></div>
                            <ul class="checkout__total__products">
                                {% for cart_item in cart_items %}
                                    <li>{{ forloop.counter|stringformat:"02d" }}. {{ cart_item.product.product_name | capfirst }}
                                        <span>
                                            <i class="fa-solid fa-indian-rupee-sign"></i>
                                            {{ cart_item.product.price }}
                                        </span>
                                        <p class="text-muted extra-small" style="padding-left:4.4%">
                                            {% if cart_item.variations.all %}
                                                {% for item in cart_item.variations.all %}
                                                {{ item.variation_category | capfirst}} : {{ item.variation_value | capfirst }}
                                                {% endfor %}
                                            {% endif %}
                                        </p>
                                    </li>
                                {% endfor %}
                            </ul>
                            <ul class="checkout__total__all">
                                <li>Subtotal <span><i class="fa-solid fa-indian-rupee-sign"></i> {{ total }}</span></li>
                                <li>Tax(9%) <span><i class="fa-solid fa-indian-rupee-sign"></i> {{ tax }}</span></li>
                                <li>Total <span><i class="fa-solid fa-indian-rupee-sign"></i> {{ grand_total }}</span></li>
                            </ul>
                            <button type="submit" class="site-btn">PLACE ORDER</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
<!-- Checkout Section End -->

{% endblock %}